@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

.invisible-scrollbar {
    scrollbar-width: none !important;          /* Firefox */
    -ms-overflow-style: none !important;       /* IE і Edge */
}
.invisible-scrollbar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}
.invisible-scrollbar::-webkit-scrollbar-thumb {
    background: transparent !important;
}
.invisible-scrollbar::-webkit-scrollbar-track {
    background: transparent !important;
}